# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


coordenadas bucle:
-31.638011932373047,-60.70661544799805

cambiar y agregar en vez de cantidad de personas a pedido
agregar carrito con pasarela de pago
que al principio los dirija a la cuenta de ig?
que el formulario se conecte con el carrito
agregar un botón de whatsapp e instagram
agregar fotos y hacer carrusel dinamica
que las fotos de la comida sean botones didacticos placeholders



reserva3.0 logica de la base de datos para reserva
reserva1.0 diseño funcional sin base de datos. todo front-end

